<<<<<<< HEAD
h1.pokedex {
    margin-top: 74px;
    text-align: center;
}

#placeholder {
        margin-bottom: 50px;
    }
    .in {
        cursor: pointer;
        border: 1px solid #ccc;
        margin: 0 0 30px 0;
        padding: 15px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 5px #999999;
        -webkit-box-shadow: 0px 0px 5px #999999;
        box-shadow: 0px 0px 5px #999999;
    }
    .in:hover {
        -moz-box-shadow: 0px 0px 10px #999999;
        -webkit-box-shadow: 0px 0px 10px #999999;
        box-shadow: 0px 0px 10px #999999;
    }
    .pok h3 {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    .img {
        min-height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img img {
        justify-content: center;
    }
    #placeholder .img img {
        max-width: 120px;
    }
a.toTop.btn.btn-default.pull-right {
    margin: 0 5px 0 0;
}
.affix-top {
/*    top: 44px;*/
    position: relative;
}
.affix {
    top: 44px;
    position: fixed !important;
    width: 100%;
}
#detail {
        max-width: 210px;
    }
    #detail h3 {
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        color: #333;
    }
@media (max-width: 360px) {
    #detail {max-width: 180px;}
    .abtn {
        padding: 3px 6px !important;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 4px !important;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
}
div#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#showfilters {
    position: fixed;
    top: 0;
    left: 0px;
    background: red;
    z-index: 9;
    padding: 5px;
    width: 100%;
}
.abtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
.abtn:hover {
    text-decoration: none;
}
a.water{
    border:1px solid #67bcd1;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #92cfde; background-image: -webkit-gradient(linear, left top, left bottom, from(#92cfde), to(#76bdd1));
    background-image: -webkit-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -moz-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -ms-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -o-linear-gradient(top, #92cfde, #76bdd1);
    background-image: linear-gradient(to bottom, #92cfde, #76bdd1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92cfde, endColorstr=#76bdd1);
}
a.fire {
    border:1px solid #df0909;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
    background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
    background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
    background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
    background-image: -o-linear-gradient(top, #f62b2b, #d20202);
    background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}
a.flying {
    background: #45CCA4;
}
a.poison {
    border:1px solid #8a66f4;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #b29af8; background-image: -webkit-gradient(linear, left top, left bottom, from(#b29af8), to(#9174ed));
    background-image: -webkit-linear-gradient(top, #b29af8, #9174ed);
    background-image: -moz-linear-gradient(top, #b29af8, #9174ed);
    background-image: -ms-linear-gradient(top, #b29af8, #9174ed);
    background-image: -o-linear-gradient(top, #b29af8, #9174ed);
    background-image: linear-gradient(to bottom, #b29af8, #9174ed);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b29af8, endColorstr=#9174ed);
}
a.bug {
    background: #2D8726;
    color: #f1f1f1;
}
a.normal {
    border:1px solid #b7b7b7;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}
a.electric {
    background: #84CCB7;
}
a.ground {
    background: #CCBF91;
}
a.fairy {
    background: #AB84CC;
}
a.grass{
    border:1px solid #8bcf54;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}
a.grass:hover{
    border:1px solid #74bf36;
    background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
    background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
    background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}
a.fighting {
    background: #CC2141;
}
a.psychic {
    background: #CCC649;
}
a.rock {
    background: #CCCCB3;
}
a.steel {
    background: #A6A4AD;
}
a.ice {
    background: #CDE3E8;
}
a.ghost {
    background: #AB9CE8;
}


=======
h1.pokedex {
    margin-top: 74px;
    text-align: center;
}

#placeholder {
        margin-bottom: 50px;
    }
    .in {
        cursor: pointer;
        border: 1px solid #ccc;
        margin: 0 0 30px 0;
        padding: 15px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 5px #999999;
        -webkit-box-shadow: 0px 0px 5px #999999;
        box-shadow: 0px 0px 5px #999999;
    }
    .in:hover {
        -moz-box-shadow: 0px 0px 10px #999999;
        -webkit-box-shadow: 0px 0px 10px #999999;
        box-shadow: 0px 0px 10px #999999;
    }
    .pok h3 {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    .img {
        min-height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img img {
        justify-content: center;
    }
    #placeholder .img img {
        max-width: 120px;
    }
a.toTop.btn.btn-default.pull-right {
    margin: 0 5px 0 0;
}
.affix-top {
/*    top: 44px;*/
    position: relative;
}
.affix {
    top: 44px;
    position: fixed !important;
    width: 100%;
}
#detail {
        max-width: 210px;
    }
    #detail h3 {
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        color: #333;
    }
@media (max-width: 360px) {
    #detail {max-width: 180px;}
    .abtn {
        padding: 3px 6px !important;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 4px !important;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
}
div#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#showfilters {
    position: fixed;
    top: 0;
    left: 0px;
    background: red;
    z-index: 9;
    padding: 5px;
    width: 100%;
}
.abtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
.abtn:hover {
    text-decoration: none;
}
a.water{
    border:1px solid #67bcd1;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #92cfde; background-image: -webkit-gradient(linear, left top, left bottom, from(#92cfde), to(#76bdd1));
    background-image: -webkit-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -moz-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -ms-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -o-linear-gradient(top, #92cfde, #76bdd1);
    background-image: linear-gradient(to bottom, #92cfde, #76bdd1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92cfde, endColorstr=#76bdd1);
}
a.fire {
    border:1px solid #df0909;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
    background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
    background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
    background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
    background-image: -o-linear-gradient(top, #f62b2b, #d20202);
    background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}
a.flying {
    background: #45CCA4;
}
a.poison {
    border:1px solid #8a66f4;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #b29af8; background-image: -webkit-gradient(linear, left top, left bottom, from(#b29af8), to(#9174ed));
    background-image: -webkit-linear-gradient(top, #b29af8, #9174ed);
    background-image: -moz-linear-gradient(top, #b29af8, #9174ed);
    background-image: -ms-linear-gradient(top, #b29af8, #9174ed);
    background-image: -o-linear-gradient(top, #b29af8, #9174ed);
    background-image: linear-gradient(to bottom, #b29af8, #9174ed);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b29af8, endColorstr=#9174ed);
}
a.bug {
    background: #2D8726;
    color: #f1f1f1;
}
a.normal {
    border:1px solid #b7b7b7;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}
a.electric {
    background: #84CCB7;
}
a.ground {
    background: #CCBF91;
}
a.fairy {
    background: #AB84CC;
}
a.grass{
    border:1px solid #8bcf54;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}
a.grass:hover{
    border:1px solid #74bf36;
    background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
    background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
    background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}
a.fighting {
    background: #CC2141;
}
a.psychic {
    background: #CCC649;
}
a.rock {
    background: #CCCCB3;
}
a.steel {
    background: #A6A4AD;
}
a.ice {
    background: #CDE3E8;
}
a.ghost {
    background: #AB9CE8;
}


>>>>>>> f6596ae3927f799331eeb5170468f2b5ae67dc94
